{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for customer in customers %}
            <li>{{ customer.getFullName }}({{ customer.email }}) <a href="{{ path('app_show', {'customer': customer.id}) }}">Vedi Transizioni</a></li>
        {% endfor %}
    </ul>
{% endblock %}