{% extends 'base.html.twig' %}

{% block body %}
    <p>Transizioni di {{ customer.getFullName }} ({{ customer.email }})</p>

    <div data-url="{{ path('app_show',{'customer': customer.id}) }}" id="chart" style="height: 250px; width:500px"></div>
    <ul>
        {% for transaction in transactions %}
            <li>Transazione {{ transaction.id }} del {{ transaction.createdAt|date('d-m-Y') }} per un totale di {{ transaction.amount|localizedcurrency(transaction.currency) }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('js/morris.js-0.5.1/morris.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/raphael.min.js') }}"></script>
    <script src="{{ asset('js/morris.js-0.5.1/morris.min.js') }}"></script>
    <script src="{{ asset('js/chart.js') }}"></script>
{% endblock %}